@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <table style="width: 100%; background: none;">
            @for (var i = 0; i < 4; i++)
            {
                <tr>
                    <td>STORM TROOPER</td>
                    <td>1/1000</td>
                    <td>(+1.00/min)</td>
                    <td style="color: green;">[5.00%]</td>
                    <td style="min-width: 100px;">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 50%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>TIE FIGHTER</td>
                    <td>1/1000</td>
                    <td>(+0.50/min)</td>
                    <td style="color: green;">[15.00%]</td>
                    <td style="min-width: 100px;">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 80%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>ADV. TIE FIGHTER</td>
                    <td>1/1000</td>
                    <td>(+1.00/day)</td>
                    <td style="color: green;"></td>
                    <td style="min-width: 100px;">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>STAR DESTROYER</td>
                    <td>1/1000</td>
                    <td>(+0.01/day)</td>
                    <td style="color: red;">[50.00%]</td>
                    <td style="min-width: 100px;">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 99%"></div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-6">
        @for (var i = 0; i < 8; i++)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    Some status message here
                </div>
            </div>
        }
    </div>
</div>