@using DeathStarImperator.Core

<div class="row">
    <div id="headerCommands" class="col-md-12 text-right" style="margin-bottom: 20px;">
        <a href="#" id="makeAlert">MAKE ALERT</a> |
        <a href="#" id="clearAlertLog">CLEAR LOG</a>
    </div>
</div>
<div class="row" style="min-height: 700px;">
    <div class="col-md-6">
        <table style="width: 100%; background: none;">
            @foreach (var resource in FakeDataPump.InitResourceList())
            {
                @ResourceHelper.DisplayResource(resource)
            }
        </table>
    </div>
    <div class="col-md-6" id="alertsWrapper" style="max-height: 700px; overflow: auto;"></div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            var alertHubProxy = $.connection.alertHub;          

            // Create a function that the hub can call back to display messages.
            alertHubProxy.client.addNewAlertToPage = function (timestamp, message) {
                $('#alertsWrapper').prepend('<div class="panel panel-default"><div class="panel-body">'
                    + '<strong>[' + htmlEncode(timestamp) + ']</strong>: ' + htmlEncode(message) + '</div></div>');
                $('#alertsWrapper').scrollTop(0);
            };

            var resourceHubProxy = $.connection.resourceHub;


            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#makeAlert').click(function () {
                    alertHubProxy.server.createAlert('This is a test of the Imperial Alert System!');
                });
            });
        });

        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        // Other local view scripts
        $('#clearAlertLog').click(function () {
            $('#alertsWrapper').empty();
        });

    </script>
}